<mat-card color="accent">
  <mat-card-content>
<h1>Instructions </h1>
<div>
 - First, ensure you have a suitable picture ready, the picture needs to be at contact point, taken from the outer tramline with the player striking the ball at waist height.
  <br>
 - Upload using the 'Choose File' icon.
  <br>
-  Then, select the player's stroke type and grip from the drop-down.
  <br>
 - From here you need to click on the player's shoulder, elbow, wrist and finally the top-centre of the racket.
  <br>
 - If you make an error, just hit 'reset points'
  <br>
 - When you're finished you can view your player's info in the first box, and a comparison with the ideal geometry in the second box.

</div>
<a [routerLink]="'../'"> Close Instructions </a>
<router-outlet></router-outlet>
</mat-card-content>
</mat-card>

